**/target/
**/*.rs.bk
*.swp
.wasm-binaries
pwasm-alloc/target/
pwasm-libc/target/
pwasm-alloc/Cargo.lock
pwasm-libc/Cargo.lock
bin/node/runtime/wasm/target/
**/._*
**/.criterion/
.vscode
polkadot.*
.DS_Store
.idea/
nohup.out
rls*.log
*.orig
*.rej
**/wip/*.stderr
.local
**/hfuzz_target/
**/hfuzz_workspace/
.cargo/
.cargo-remote.toml
*.bin
*.iml
/chain
*.stderr
*.log
/docs/_book
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf